import com.github.dcshock.SbtBinks._

name := "binks-example"
version := "0.1"
organization := "com.github.dcshock"
scalaVersion := "2.11.6"

libraryDependencies ++= Seq(
  "commons-lang" % "commons-lang" % "2.6"
)

binksSettings

